*{
    padding: 0px;
    margin: 0px;
    
}

body{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 100%;
}
a{
    text-decoration: none;
    color:black;
}
section{
    display: flex;
    justify-content: center;
    background-color: #ffd6ff;
    border-radius: 8px;
    box-shadow: 7px 7px 5px -1px #00000011;
}
h1,h3{
    margin: 20px;
}