@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.usercard {
    background-color: $light-blue;
    margin: 20px;
    width: 30%;
    border-radius: 8px;
    padding: 20px;
    align-content: space-between;

    @include shadow($blue);
}
.usercard > img {
    max-width: 300px;
    border-radius: 8px;
}
.usercard > h2 {
    max-width: 300px;
}
